# This file is a "template" of what your parameters.yml file should look like
parameters:
    #database_driver:   pdo_mysql
    #database_host:     127.0.0.1
    #database_port:     ~
    #database_name:     symfony
    #database_user:     root
    #database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en

    # A secret key that's used to generate certain security-related tokens
    secret:            bJ5A4nLt6c898j6pBlczMOeguhDeDhorGvaRCVC3zr8NYX1EznfO2eN0iRLQp32

    # Data dir for flywheel repositories implementations
    bc_app_wallet_address_flywheel_data_dir: "%kernel.logs_dir%/../data"
