{% extends "BlockCypherAppCommonInfrastructureLayoutBundle::base.html.twig" %}

{% block title %}Addresses{% endblock title %}

{% block page_header %}
    <h1>
        <i class="fa fa-qrcode"></i>
        Create New Account
    </h1>

    <h2 class="tagline wrapit semi">
    </h2>
{% endblock page_header %}

{% block content %}
    <div class="container">
        <div class="col-md-12">
            <h2></h2>

            {{ form_start(account_form) }}
            {{ form_widget(account_form) }}
            {{ form_end(account_form) }}

        </div>
    </div>

{% endblock content %}

{% block extra_js %}
{% endblock extra_js %}